<div class="conteudo-cadastrar-livro">

    <h2>Cadastrar Livro</h2>
  
    <form [formGroup]="livroForm" (submit)="cadastrarLivro()">
      <div>
        <label for="nome">Nome do Livro:</label>
        <input type="text" id="nome" formControlName="nome" />
        <div class="mensagem-erro" *ngIf="livroForm.get('nome')?.errors?.required && livroForm.get('nome')?.touched">
          Campo Obrigatório!
        </div>
      </div>
  
      <div>
        <label for="autor">Autor do Livro:</label>
        <input type="text" id="autor" formControlName="autor" />
        <div class="mensagem-erro" *ngIf="livroForm.get('autor')?.errors?.required && livroForm.get('autor')?.touched">
          Campo Obrigatório!
        </div>
      </div>

      <div>
        <label for="quantidade">Quantidade de Livros:</label>
        <input type="number" id="quantidade" formControlName="quantidade" />
        <div class="mensagem-erro" *ngIf="livroForm.get('quantidade')?.errors?.required && livroForm.get('quantidade')?.touched">
          Campo Obrigatório!
        </div>
      </div>
  
      <button type="submit" [disabled]="!livroForm.valid">Cadastrar Livro</button>
      
    </form>
  
  </div>
  