<div class="conteudo-login">

    <form class="conteudo-form" [formGroup]="loginForm" (submit)="submitLogin()">

        <h2>Login</h2>

        <div>
            <div>
                <input class="input-login" type="text" placeholder="email" formControlName="email" />
            </div>
            <div class="mensagem-erro" *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">
                Campo Obrigatório!
            </div>
        </div>

        <div>
            <div>
                <input class="input-login" type="password" placeholder="senha" formControlName="senha" />
            </div>
            <div class="mensagem-erro" *ngIf="loginForm.get('senha')?.errors?.required && loginForm.get('senha')?.touched">
                Campo Obrigatório!
            </div>
        </div>

        <div>
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>

        <div class="links">
            <p>Não tem uma conta? <a routerLink="/cadastro" routerLinkActive="active">Cadastre-se</a></p>
            <p><a routerLink="/senha" routerLinkActive="active">Esqueceu sua Senha?</a></p>
        </div>

    </form>

</div>