<div class="conteudo-cadastro">

    <form class="conteudo-form" [formGroup]="cadastroForm" (submit)="submitCadastro()">

        <h2>Cadastro</h2>

        <div>
            <div>
                <input class="input-cadastro" type="text" placeholder="Nome" formControlName="nome" />
            </div>
            <div class="mensagem-erro" *ngIf="cadastroForm.get('nome')?.errors?.required && cadastroForm.get('nome')?.touched">
                Campo Obrigatório!
            </div>
        </div>

        <div>
            <div>
                <input class="input-cadastro" type="text" placeholder="Usuário" formControlName="usuario" />
            </div>
            <div class="mensagem-erro" *ngIf="cadastroForm.get('usuario')?.errors?.required && cadastroForm.get('usuario')?.touched">
                Campo Obrigatório!
            </div>
        </div>

        <div>
            <div>
                <input class="input-cadastro" type="password" placeholder="Senha" formControlName="senha" />
            </div>
            <div class="mensagem-erro" *ngIf="cadastroForm.get('senha')?.errors?.required && cadastroForm.get('senha')?.touched">
                Campo Obrigatório!
            </div>
        </div>

        <div>
            <button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
        </div>

        <div class="links">
            <p>Já tem uma conta? <a routerLink="/login" routerLinkActive="active">Login</a></p>
        </div>

    </form>

</div>
